@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body,
button,
input,
select,
textarea{
     font-family: "Heebo", sans-serif;
}

body {
     background-color: #E5E5E5;
     height: 100vh;
}

header{
     background-color: #e5e5e5cb;
     height: 6rem;
     position: fixed;
     width: 100%;
     z-index: 100000;
}

header #navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100%;

     padding: 0 2rem;
     max-width: 1200px;
     margin: 0 auto;
}

header #navbar .hamburger-menu{
     display: none;
}

header #navbar .nav-brand img{
     height: 100%;
     width: 15rem;
}

header #navbar .nav-list{
     list-style: none;

     display: flex;
     align-items: center;
     gap: 2rem;
}

header #navbar .nav-list .nav-item a{
     text-decoration: none;
     color: #333;
     font-size: 20px;
     font-weight: 500;
}

header #navbar .nav-list .nav-item a:hover{
     color: #2d628d;
     transition: color 0.3s;
}

header #navbar .hamburger-menu{
     display: none;
}

header .menu-mobile{
     display: none;
}

@media(max-width: 740px){
     header{
          height: 6rem;
          width: 100%;
          background-color: #fff;
          position: initial;
     }

     header #navbar{
          height: 100%;
          justify-content: space-between;
          padding: 0 2rem;
          width: 100%;
          max-width: none;
     }

     header #navbar .nav-brand img{
          width: 15rem;
          height: 100%;
     }

     header #navbar .nav-list{
          display: none;
          position: absolute;
          width: 100%;
          top: 6rem;
          right: 0;
          background-color: #fff;
          z-index: 1000;
          text-align: center;
          height: calc(100rem - 6rem);
          overflow: hidden;  
     }

     header #navbar .nav-list .nav-item{
          padding: 40px;
     }

     header #navbar .nav-list .nav-item a{
          font-size: 35px;
     }

     header #navbar .nav-list.active{
          display: block;
     }

     header #navbar .nav-list.active.hidden{
          display: none;
     }

     header #navbar .hamburger-menu{
          display: block;
     }

     header #navbar .hamburger-menu i{
          font-size: 30pt;
     }
}

/*! SECTION BANNER !*/
main #banner{
     display: flex;
     justify-content: space-between;   
     align-items: center; 

     max-width: 1200px;
     padding: 0 2rem;
     margin: 0 auto;
     height: 100vh;
}

main #banner .banner-content .banner-content-title{
     font-size: 44px;
     font-weight: 700;
     line-height: 60px;
     margin-bottom: 40px;
}

main #banner .banner-content .banner-content-subtitle{
     font-size: 30px;
     font-weight: 500;
     line-height: 24px;
     max-width: 500px;
     margin-bottom: 10px;
}

main #banner .banner-content .banner-content-redes-sociais{
     margin: 10px auto;
     width: 100%;
}

main #banner .banner-content .banner-content-redes-sociais ul{
     display: flex;
     gap: 15px;
}

main #banner .banner-content .banner-content-redes-sociais ul li{
     list-style: none;
}

main #banner .banner-content .banner-content-redes-sociais ul li a i{
     color: #214664;
     font-size: 50pt;     
}

main #banner .banner-content .banner-content-redes-sociais ul li a .gradiente-insta:hover{
     color: #C13584;
     transition: 0.3s;
     transform: scale(1.1);
}

main #banner .banner-content .banner-content-redes-sociais ul li a .gradiente-linkedin:hover{
     color: #0e76a8;
     transition: 0.3s;
     transform: scale(1.1);
}

main #banner .banner-content .banner-content-redes-sociais ul li a .gradiente-whats:hover{
     color: #25D366;
     transition: 0.3s;
     transform: scale(1.1);
}

main #banner .banner-content .banner-content-redes-sociais ul li a .gradiente-git:hover{
     color: #2b3137;
     transition: 0.3s;
     transform: scale(1.1);
}

main #banner .banner-content .banner-content-btn{
     background-color: #214664;
     color: white;
     font-size: 20px;
     font-weight: 500;
     border-radius: 2px;
     padding: 8px 24px;
     border: none;
     cursor: pointer;
}

main #banner .banner-content .banner-content-btn a{
     text-decoration: none;
     color: #fff;
}

main #banner .banner-container-notebook{
     width: 420px;
     height: 420px;
     background-color: #214664;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
}

main #banner .banner-container-notebook .image-float{
     margin-right: -355px;
}

main #banner .banner-container-notebook .banner-image{
     width: 440px;
     height: 240px;
     animation: float 3s infinite backwards;
}

@keyframes float {
     0% {
          transform: translateY(2rem);
        }
        50% {
          transform: translateY(-2rem);
        }
        100% {
          transform: translateY(2rem);
        }
}

@media(max-width: 920px){
     main #banner{
          flex-direction: column-reverse;
          align-items: center;
          justify-content: center;
          height: 50rem;
          margin: 2rem 0;
     }

     main #banner .banner-content{
          text-align: center;
          margin: 3rem 0;
     }

     main #banner .banner-container-notebook{
          width: 15rem;
          height: 15rem;
          border-radius: 50%;
          margin: 1rem 0;
     }

     main #banner .banner-container-notebook .image-float{
          margin-right: -150px;
     }

     main #banner .banner-container-notebook .banner-image{
          width: 70%;
          height: 60%;
     }

     main #banner .banner-content .banner-content-redes-sociais ul{
          justify-content: center;
     }

     main #banner .banner-content .banner-content-btn{
          font-size: 35px;
          margin-top: 2rem;
     }
}

/*! SECTION ABOUT !*/
main #about{
     /* margin-top: 5rem;      */
     width: 100%;
     background-color: #F1F1F1;
     height: 50rem;
     display: flex;
     justify-content: center;
     align-items: center;
}

main #about .about-container{
     max-width: 1200px;     
     padding: 0 2rem;
     margin: 2em auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
}

main #about .my-person{
     width: 35%;
     height: 25rem;
     border: none;
}

main #about .my-person img{
     max-height: 100%;
     max-width: 100%;
     border-radius: 50%;     
     max-width: 350px;
}

main #about .about-me{
     width: 60%;  
     display: flex;
     flex-direction: column; 
     align-items: flex-start;  
}

main #about .about-me h1{
     font-size: 25pt;
     font-weight: 700;
     text-transform: uppercase;
     padding-bottom: 20px;
}

main #about .about-me h1 strong {
     color: #214664;
}

main #about .about-me p{
     font-size: 15pt;
     text-align: justify;
}

main #about .about-me p strong{
     color: #214664;
}

main #about .about-me .about-me-btn{
     background-color: #214664;
     color: white;
     font-size: 20px;
     font-weight: 500;
     border-radius: 2px;
     padding: 15px 50px;
     border: none;
     cursor: pointer;
     margin-top: 2em;
}

main #about .about-me .about-me-btn a{
     text-decoration: none;
     color: #fff;
}

@media(max-width: 920px){

     main #about{
          height: 90rem;
     }

     main #about h1{
          font-size: 30pt;
     }

     main #about .about-container{
          flex-direction: column;
          align-items: center;
          text-align: center;
     }

     main #about .my-person{
          width: 100%;
          height: 23em;
     }

     main #about .about-me{
          width: 100%;
          text-align: center;
          align-items: center;
     }

     main #about .about-me p{
          font-size: 18pt;
     }

     main #about .about-me .about-me-btn{
          font-size: 25pt;
     }
}

/*! SECTION SKILLS !*/
section#skills{     
     max-width: 1200px;
     margin: 5rem auto;

     height: 15rem;
     display: flex;
     justify-content: center;
     align-items: center;
}

#skills .skills-content{
     width: 100%;
     height: 100%;
}

#skills .skills-content .skills-content-header{
     padding-bottom: 3rem;
}

#skills .skills-content .skills-content-header .section-title{
     font-weight: 700;
     font-size: 25pt;
     text-align: center;
     text-transform: uppercase;
}

#skills .skills-content .skills-content-header .section-title strong{
     color: #214664;
}

#skills .skills-content .skills-list{
     width: 100%;
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
}

#skills .skills-content .skills-list li{
     list-style: none;
     display: flex;
     flex-direction: column;
     align-items: center;
}

#skills .skills-content .skills-list li:hover{
     transition: 0.3s;
     transform: scale(1.1);
}

#skills .skills-content .skills-list li strong{
     color: #0D1D27;
}

#skills .skills-content .skills-list li a i{
     font-size: 7rem;
     color: #214664;
}

#skills .skills-content .skills-list li a .html:hover{
     color: #F16A30;
     transition: 0.3s;
     transform: scale(1.2);
}

#skills .skills-content .skills-list li a .css:hover{
     color: #087ECE;
     transition: 0.3s;
     transform: scale(1.2);
}

#skills .skills-content .skills-list li a .Tcss:hover{
     color: black;
     transition: 0.3s;
     transform: scale(1.2);
}

#skills .skills-content .skills-list li a .boots:hover{
     color: #814ECC;
     transition: 0.3s;
     transform: scale(1.2);
}

#skills .skills-content .skills-list li a .node:hover{
     color: #58A149;
     transition: 0.3s;
     transform: scale(1.2);
}

#skills .skills-content .skills-list li a .JS:hover{
     color: #F7E025;
     transition: 0.3s;
     transform: scale(1.2);
}

#skills .skills-content .skills-list li a .ts:hover{
     color: #087ECE;
     transition: 0.3s;
     transform: scale(1.2);
}

#skills .skills-content .skills-list li a .rct:hover{
     color: #50D6FF;
     transition: 0.3s;
     transform: scale(1.2);
}

@media(max-width: 740px){
     #skills .skills-content{
          height: 100rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          padding: 30px;

          margin-top: 20rem;
     }

     #skills .skills-content .skills-content-header .section-title{
          font-size: 30pt;
     }

     #skills .skills-content .skills-list{
          flex-wrap: wrap;
     }

     #skills .skills-content .skills-list li a i{
          font-size: 7rem;
          color: #214664;
     }

     #skills .skills-content .skills-list li strong p{
          font-size: 18pt;
          display: none;
     }
}

/*! FOOTER RODAPE !*/
footer{
     background-color: #E5E5E5;
     height: 15rem;
}

footer #rodape{
     padding: 0 2em;
     max-width: 1200px;
     margin: 0 auto;
     height: 100%;

     display: flex;
     justify-content: center;
     flex-direction: column-reverse;
     align-items: center;
     gap: 20px;
}

footer #rodape .rodape-copy{
     padding-bottom: 20px;
}

footer #rodape .rodape-redes-sociais ul{
     display: flex;
     gap: 10px;
}

footer #rodape .rodape-redes-sociais ul li{
     list-style: none;
}

footer #rodape .rodape-redes-sociais ul li a i{
     color: #214664;
}

@media(max-width: 740px){
     footer{
          height: 20rem;
     }

     footer #rodape{
          height: 100%;
          justify-content: center;
          align-items: center;
     }

     footer #rodape .rodape-copy{
          text-align: center;
     }
}
